<!DOCTYPE html>

<html>

<head>
  {% include "./head.html" %}
</head>

<body>
  {% include "./navbar.html" %}

  <div class = "container " style="margin-top:4%;margin-bottom:4%">

    <form name="formf" action ="http://localhost:5000/course" method = "DELETE">
      <table>
      <tr><td>id:<input type = "text" name = "id" /></td></tr>
      <tr> 
        <td><input type = "submit" value = "Delete by Id" /></td>
      </tr>
    </table>
    </form>
    
  </div> <!--container 1 div-->



  <!--JavaScript and jquery at end of body for optimized loading-->
  <script>
  {% include "./scripts.js" %}
  </script>

</body>

</html>
