<!DOCTYPE html>

<html>

<head>
  {% include "./head.html" %}
</head>

<body>
  {% include "./navbar.html" %}

  <div class = "container " style="margin-top:4%;margin-bottom:4%">

    <div style="margin-top: 15%">
    	<h1> Welcome to ECS Learning :D</h1>
    	<h4>Go to our <a href="/courselist">courses</a></h4>
    </div>
  </div> <!--container 1 div-->



  <!--JavaScript and jquery at end of body for optimized loading-->
  <script>
  {% include "./scripts.js" %}
  </script>

</body>

</html>
