
<!--- Navigation Bar -------------------------------------------------->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo black-text left " style="margin-left:10px"><b>ECS Learning and Development</b></a>
      
    </div>
  </nav>
</div>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue-text">
      
      <ul class=" hide-on-small-only " >
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="#"><b>Authors</b></a></li>
        <li><a href="/courselist"><b>Courses</b></a></li>
        <li><a href="#"><b>Reports</b></a></li>
        <li><a href="#"><b>Preferences</b></a></li>

      </ul>

      <a href="#" class="hide-on-med-and-up"><i class="material-icons" style="margin-left:5px;">menu</i></a>
    </div>


  </nav>
</div>
